@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;700&family=Staatliches&display=swap");

:root {
  --midGrey: #606060;
  --lillac: #7d6ff7;
  --asphalt: #35363a;
  --yellow: #ffef7a;
  --orange: #ffb654;
  --green: #21ff5b;
  --aqua: #21ffa0;
  --reddish: #cc364f;
  --offwhite: #f7f6f5;
  --transparentOffwhite: hsla(30, 11%, 96%, 96%);
  --transparentWhite: hsla(0, 0%, 100%, 90%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  width: 100%;
  height: 100%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  color: #333;
  display: flex;
  flex-direction: column;
}

main {
  max-width: 60%;
}

h1,
h2 {
  font-weight: 700;
  letter-spacing: 0.05em;
}

h1 {
  font-size: 2.5em;
  text-align: center;
}

h2 {
  margin-top: 2.5em;
  margin-bottom: 0.8em;
  font-size: 1.8em;
}

p {
  font-size: 1em;
  letter-spacing: 0.05em;
  margin-top: 1.5em;
}

p:last-child {
  margin-bottom: 0em;
}

.content {
  margin: 0 auto;
  background-color: var(--transparentOffwhite);
  padding: 3em 8em;
}

.about-bg {
  background: url(./img/william-bout-264826.jpg);
}

.exhibitions-bg {
  background: url(./img/person_spacesuit.jpg);
  background-position: top;
}

.events-bg {
  background: url(./img/person-painting-VR.jpg);
}

.visit-bg {
  background: url(./img/museum-exterior.jpg);
  background-position: center;
}

.involved-bg {
  background: url(./img/);
}

.bg {
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.banner,
.nav {
  font-family: "Staatliches", cursive;
}

.banner {
  min-width: 100%;
  background-color: var(--midGrey);
  text-align: center;
  padding: 0.3em 0;
  position: relative;
  z-index: 50;
}

.banner__text {
  color: var(--offwhite);
  font-size: 4rem;
  text-shadow: 5px 5px 0px #190520;
  text-decoration: none;
  letter-spacing: 0.25em;
}

.nav {
  position: fixed;
  height: 100%;
  background-color: var(--transparentWhite);
  padding-top: 10%;
  letter-spacing: 0.1em;
}

.nav__item {
  padding: 2em 2em;
  font-size: 1.2em;
  text-align: center;
  font-style: none;
  background-color: var(--transparentWhite);
  transition: background-color 0.25s;
  animation-timing-function: ease-out;
}

.nav__decoration {
  height: 1px;
  width: 70%;
  margin: 0.8em auto;
  padding: 0;
}

.nav a {
  color: var(--midGrey);
  text-decoration: none;
}

.nav a:hover {
  color: #ffffff;
  text-shadow: 1.5px 1.5px 0px #190520;
}

.footer {
  padding: 4em 0;
  background-color: var(--asphalt);
  text-align: center;
  position: relative;
  z-index: 1;
  color: white;
}

.section {
}

.section__flex-wrap {
  display: flex;
}

.section__image--left {
  margin-right: 2em;
}

.section__image--right {
  margin-left: 2em;
}

.vertical {
  flex-direction: column;
}

.image {
  padding: 5px;
}

.portrait {
  max-height: 400px;
}

.landscape {
  max-width: 500px;
  margin: 0 auto;
}

.portrait.large {
  max-height: 600px;
}

.centered {
  margin: 0 auto;
  margin-top: 2em;
}

.centered-text {
  text-align: center;
}

.decoration-bar {
  width: 75%;
  height: 3px;
  margin: 0 auto;
  margin-top: 75px;
}

.map {
  margin-top: 2em;
  text-align: center;
}

.extra-space {
  margin: 100px 0;
}

.midgrey {
  color: var(--midGrey);
}

.reddish {
  color: var(--reddish);
}

.orange {
  color: var(--orange);
}

.lillac {
  color: var(--lillac);
}

.aqua {
  color: var(--aqua);
}

.midgrey-bg {
  background-color: var(--midGrey);
}

.reddish-bg {
  background-color: var(--reddish);
}

.orange-bg {
  background-color: var(--orange);
}

.lillac-bg {
  background-color: var(--lillac);
}

.aqua-bg {
  background-color: var(--aqua);
}

.fade-to-midgrey:hover {
  background-color: var(--midGrey);
}
.fade-to-reddish:hover {
  background-color: var(--reddish);
}
.fade-to-orange:hover {
  background-color: var(--orange);
}
.fade-to-lillac:hover {
  background-color: var(--lillac);
}
.fade-to-aqua:hover {
  background-color: var(--aqua);
}

.midgrey-border {
  border-right: 10px solid var(--midGrey);
}
.reddish-border {
  border-right: 10px solid var(--reddish);
}
.orange-border {
  border-right: 10px solid var(--orange);
}
.lillac-border {
  border-right: 10px solid var(--lillac);
}
.aqua-border {
  border-right: 10px solid var(--aqua);
}

/***************** Media Queries *****************/

@media screen and (max-width: 1501px) {
  .content {
    max-width: 70%;
    margin-left: 250px;
    margin-right: 0;
  }
}

@media screen and (max-width: 1276px) {
  .content {
    max-width: 75%;
  }

  .section__flex-wrap {
    flex-direction: column;
  }

  .section__image--right,
  .section__image--left {
    margin: 0 auto;
  }

  .banner__text {
    font-size: 3.25rem;
    letter-spacing: 0.25em;
  }
}

@media screen and (max-width: 1001px) {
  .content {
    max-width: 95%;
    margin: 0 auto;
  }

  .nav {
    min-width: 95%;
    position: static;
    display: flex;
    padding-top: 0;
    margin: 0 auto;
    justify-content: center;
  }

  .nav__item {
    height: 100%;
    font-size: 1.2em;
    flex: 1 1 20%;
  }

  .midgrey-border {
    border-right: 0;
    border-bottom: 10px solid var(--midGrey);
  }
  .reddish-border {
    border-right: 0;
    border-bottom: 10px solid var(--reddish);
  }
  .orange-border {
    border-right: 0;
    border-bottom: 10px solid var(--orange);
  }
  .lillac-border {
    border-right: 0;
    border-bottom: 10px solid var(--lillac);
  }
  .aqua-border {
    border-right: 0;
    border-bottom: 10px solid var(--aqua);
  }

  .nav__decoration {
    display: none;
  }
}

@media screen and (max-width: 651px) {
}
